.show-cart li {
  display: flex;
}

.card-img-top {
  margin-top: 100px;
  padding: 15px;
  width: 550px;
  max-width: 100%;
  height: auto;
}

#secProdutos {
  font-family: rubik;
  margin-left: 65px;
  padding-left: 0px;
}

#imagens {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
}

.compra {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.produtos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 0px;
  width: auto;
  height: auto;
}

.botao {
  font-family: rubik;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  height: 70px;
  width: 200px;
}

#btnProduto {
  max-width: 10rem;
  height: 25px;
  border: none;
  font-size: 15px;
  font-family: rubik;
  font-weight: bolder;
  border-radius: 10px;
  background-color: #FFCC00;
  border: none;
}

#btnProduto:hover {
  position: static;
  box-shadow: 10px 10px 50px 10px rgb(26, 85, 158, 60%);
  color: rgb(26, 85, 158, 1);
}

.btn-primaryF {
  color: black !important;
  background-color: #FFCC00 !important;
  border: none !important;
  font-family: rubik !important;
  border-radius: 10px !important;
  height: 25px !important;
  padding: 0px !important;
  width: 150px !important;
}

.btn-primaryF:hover {
  position: static !important;
  box-shadow: 10px 10px 50px 10px rgb(26, 85, 158, 60%) !important;
  color: rgb(26, 85, 158, 1) !important;
}

.btn-secondaryF {
  color: black !important;
  background-color: #FFCC00 !important;
  border: none !important;
  font-family: rubik !important;
  border-radius: 10px !important;
  height: 25px !important;
  padding: 0px !important;
  width: 150px !important;
}

.btn-secondaryF:hover {
  position: static !important;
  box-shadow: 10px 10px 50px 10px rgb(26, 85, 158, 60%) !important;
  color: rgb(26, 85, 158, 1) !important;
}
/*botao de - */
.btn-primary {
  color: black !important;
  background-color: #FBAE06 !important;
  border: none !important;
  font-family: rubik !important;
  height: 40px !important;
  padding: 0px !important;
  width: 35px !important;
  border: none !important;
}

.delete-item{
  color: white !important;
  background-color: #FBAE06  !important;
  border: none !important;
}

h3 {
  font-size: 4vh;
  padding: 30px;
}

#modalConfig {
  font-family: rubik;
}

@media (max-width: 1300px) {
  #secProdutos {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }
  .produtos {
    padding: 30px;
    font-size: 4vh;
  }
}

@media (max-width: 300px) {
  h3 {
    font-size: 3vh;
    padding-right: 1px;
    padding-left: 13px;
  }
}