body{
  min-height:1000px;
  background:gray;
  font-family:Arial;
}

header{
  display:block;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background:white;
  text-align:center;
  padding: 20px 0;
}

footer{
  display:block;
  position:fixed;
  width:100%;
  bottom:0vh;
  left:0;
  background:white;
  text-align:center;
  padding: 20px 0;
}

main{
  margin-top:80px;
  color:white;
}