.containerVideo {
    position: relative;
    padding-bottom: 36.25%; 
    padding-top: 25px;
    height: 0;
    margin:0 auto;
}
.containerVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}