ul {
  list-style-type: none;
  padding: 0;
}

.option-container {
  background-color: #ccc;
  max-width: 200px;
  height: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 5px;
}

.option-container:hover {
  background-color: #E01B6A;
  cursor: pointer;
}

.text-container {
  width: 80%;
  height: 100%;
  color: #000;
  line-height: 40px;
}

.image-container {
  background-color: #E01B6A;
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 70%;
  height: 70%;
  filter: invert(100%);
}
